@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

#todo {
    padding: 79px 15px;
}

#todo main {
    min-height: 600px;
}

#todo-input, #todo-items li {
    position: relative;
    background: #25273c;
    border-radius: 4px;
    padding: 0 0 0 73px;
    line-height: 64px;
}

#todo-items li:last-of-type {
    border-bottom: none;
}

#todo-items li {
    background: none;
    border-radius: 0;
    height: 64px;
    padding: 0 35px 0 73px;
    border-bottom: 1px solid #37394e;
    color: #cbcde4;
}

#todo-items ul {
    background: #25273c;
    border-radius: 4px;
}

#todo-input input {
    height: 64px;
    width: 100%;
    font-size: 17.5px;
    padding: 9px 35px 5px 0;
    background: none;
    border: none;
    outline: none;
}

#todo button {
    margin-right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 24px;
}

#todo li.done-checked button:first-of-type {
    background: rgba(109,192,255,1);
    background: -moz-linear-gradient(-45deg, rgba(109,192,255,1) 0%, rgba(129,173,248,1) 28%, rgba(141,164,255,1) 51%, rgba(148,132,251,1) 71%, rgba(164,123,245,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(109,192,255,1)), color-stop(28%, rgba(129,173,248,1)), color-stop(51%, rgba(141,164,255,1)), color-stop(71%, rgba(148,132,251,1)), color-stop(100%, rgba(164,123,245,1)));
    background: -webkit-linear-gradient(-45deg, rgba(109,192,255,1) 0%, rgba(129,173,248,1) 28%, rgba(141,164,255,1) 51%, rgba(148,132,251,1) 71%, rgba(164,123,245,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(109,192,255,1) 0%, rgba(129,173,248,1) 28%, rgba(141,164,255,1) 51%, rgba(148,132,251,1) 71%, rgba(164,123,245,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(109,192,255,1) 0%, rgba(129,173,248,1) 28%, rgba(141,164,255,1) 51%, rgba(148,132,251,1) 71%, rgba(164,123,245,1) 100%);
    background: linear-gradient(135deg, rgba(109,192,255,1) 0%, rgba(129,173,248,1) 28%, rgba(141,164,255,1) 51%, rgba(148,132,251,1) 71%, rgba(164,123,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6dc0ff', endColorstr='#a47bf5', GradientType=1 );
}

#todo li.done-checked button:first-of-type:after {
    content: '';
    background: url('../assets/images/icon-check.svg') center no-repeat;
    background-size: contain;
    height: 11px;
    width: 9px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: block;
}

#todo li.done-checked {
    text-decoration: line-through;
    color: #494b60;
}

#todo-items {
    margin: 22px 0 0;
}

#todo-items ul {
    list-style: none;
}

#todo-items ul li {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

#todo-items button.remove {
    left: auto;
    right: 15px;
    margin-right: 0;
}

#todo-items button.remove:hover:after {
    color: #181824;
}

#todo-items .remove::after {
    content: 'x';
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    margin-top: -2.4px;
    font-size: 17px;
    margin-left: -0.5px;
    color: #fff;
}

@media only screen and (max-width: 479px) {

}